<title>{{result.Title}}</title>
<div class="container-sm align-items-center mb-5" style="height: 100vh;">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                    <img class="rounded-5" src="{{result.Poster}}" alt="{{result.Title}}">    
            </div>

            <div class="col-md-8">

                <h2>{{result.Title}}</h2>

                <div class="d-flex">
                    <ul class="list-inline">
                        <li class="list-inline-item">{{result.Year}}</li>
                        {{!-- Caso seja uma série exibe o total de temporadas --}}
                        {{#if result.totalSeasons}} 
                        <li class="list-inline-item">Seasons: {{result.totalSeasons}}</li>
                        {{/if}}
                        <li class="list-inline-item">
                            <i class="bi bi-clock-history"> {{result.Runtime}}</i>
                        </li>
                        <li class="list-inline-item">{{result.imdbRating}}/10</li>
                    </ul>
                </div>

                <div class="d-flex">
                    <ul class="list-inline">
                        <div id="genres"></div>
                    </ul>
                </div>

                <div class="d-flex">
                    <ul class="list-inline">
                        <div id="actors"></div>
                    </ul>
                </div>
                <div class="d-flex">
                    <ul class="list-inline">
                        <li class="list-inline-item">Director: <strong>{{result.Director}}</strong></i></li>
                        <li class="list-inline-item">Writer: <strong>{{result.Writer}}</strong></li>
                    </ul>
                </div>

                <div class="d-flex">
                    <ul class="list-inline">
                        <li class="list-inline item"><i class="bi bi-award"> {{result.Awards}}</i></li>
                    </ul>
                </div>
                
                <p>{{result.Plot}}</p>

            </div>
        </div>
    </div>
</div>

<script>
    // Separa a string de generos e exibe cada genero em uma pill
    const genres = "{{result.Genre}}".split(", ")

    let genresHTML = ""
    genres.forEach(genre => {
        genresHTML += `<span class="badge rounded-pill text-bg-secondary">${genre}</span> `
    })

    document.getElementById("genres").innerHTML = genresHTML
    // ---------------------------------------------------------------

    // Separa a string de atores e exibe o cada nome separadamente
    const actors = "{{result.Actors}}".split(", ")

    let actorsHTML = `<li class="list-inline-item">Actors: </li>`
    actors.forEach(actor => {
        actorsHTML += `<li class="list-inline-item"><strong>${actor}</strong></li> `
    })

    document.getElementById("actors").innerHTML = actorsHTML
    // --------------------------------------------------------------
</script>